$link-color: #81af90;
$link-text-color: #669876;

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.card {
  background: white;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.21);
  border-radius: 3px;
  border: none;
}

.avatar {
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center center;
}

.cover-photo {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center center;
}

input, textarea {
  background: white;
  border: 1px solid #C8C8C8;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  margin: 4px 0;
  transition: box-shadow 0.2s, border 0.2s;
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgb(99, 176, 231);
    border: 1px solid rgb(99, 176, 231);
  }
}

button {
  background-color: #6CB782;
  border: 1px solid #71AC83;
  border-radius: 3px;
  font-size: 15px;
  color: white;
  border-radius: 3px;
  padding: 8px 18px;
  font-size: 15px;
  cursor: pointer;
  outline: none !important;
  &:hover {
    background-color: #64A677;
  }

  &.signup {
    background-color: #FDBB4D;
    border: 1px solid #E5A12F;
    color: #7B5F1E;
    &:hover {
      background-color: #F2AD3A;
    }
  }

  &.logout, &.red {
    float: right;
    margin-top: 10px;
    background-color: rgb(219, 137, 122);
    border: 1px solid rgb(211, 122, 122);
  }
}

p.error {
  background-color: #fbedc0;
  border: 1px solid #f0e1b9;
  color: #715E55;
  margin: 0;
  text-align: center;
  font-size: 15px;
  padding: 9px;
}
// Styling the modal
.ember-modal-dialog {
  max-width: none;
  padding: 15px;
  background-color: $bg-color;
  box-shadow: 0px 2px 4px 0px rgba(black, 0.19);
  border-radius: 4px;
  border: none;
  overflow: hidden;
  z-index: 1000;
}
.ember-modal-overlay.translucent {
  background-color: rgba(#4C574A, 0.6);
  z-index: 999;
}
