<div class="page-container index">
  <div class="text-wrapper">
    <h1>Welcome to Chirper.</h1>
    <p class="tagline">Chirper is a Twitter-clone built with Ember.js</p>
  </div>
  <div class="login-box">
    {{#liquid-if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/liquid-if}}

    {{input placeholer="Username" value=username}}
    {{input type="password" placeholder="Password" value=password}}

    <button class="signup" {{action 'signup'}}>Sign up</button>
    <button class="login" {{action 'login'}}>Log in</button>
  </div>
</div>
