<header>
  <div class="page-container">

    <div class="logo"></div>

    <nav>
      {{#link-to "home"}}Home{{/link-to}}

      {{#link-to "user"}}
        <img class="avatar" src="/images/avatar.jpg" />
        t4t5 <!-- You can change this to your own username -->
      {{/link-to}}

      <button class="chirp" {{action 'toggleComposeModal'}}>Chirp</button>
    </nav>

  </div>
</header>

{{liquid-outlet}}

{{#if showingComposeModal}}
  {{#modal-dialog translucentOverlay=true close=(action 'toggleComposeModal')}}
    {{compose-modal dismiss=(action 'toggleComposeModal')}}
  {{/modal-dialog}}
{{/if}}
