<div class="page-container home-page">
  <aside class="left">
    {{profile-glance user=model.user}}
  </aside>
  <main>
    {{status-update openComposeModal=(action 'openComposeModal')}}
    {{chirps-list chirps=model.chirps}}
  </main>
</div>
