
& {
  margin: 2px;
}

.no-chirps {
  text-align: center;
  padding: 20px;

  .icon {
    background-image: url("/images/no-chirps.svg");
    background-size: contain;
    width: 35px;
    height: 33px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  p {
    font-size: 19px;
    color: #B7B9B8;
    line-height: 26px;
    display: inline-block;
  }
}
