<div class="cover-photo"></div>
<img class="avatar" src="/images/avatar.jpg" data-profile-image="me"/>
{{#link-to "user"}}
  {{user.username}}
{{/link-to}}
<ul class="profile-stats">
  <li>
    <h4>Chirps</h4>
    <p>{{user.numberOfChirps}}</p>
  </li>
  <li>
    <h4>Following</h4>
    <p>{{user.numberOfFollowing}}</p>
  </li>
  <li>
    <h4>Followers</h4>
    <p>{{user.numberOfFollowers}}</p>
  </li>
</ul>
